* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: #3a4454;
  color: #f5dddd;
}

.content {
  height: 70vh;
  padding-top: 50px;
}
#mainHeading {
  font-size: 50px;
}

#icon {
  font-size: 50px;
}
.player {
  font-size: 30px;
  margin-top: 80px;
}
.input {
  height: 30px;
  width: 200px;
  font-size: 22px;
}
#submit {
  height: 3rem;
  width: 6rem;
  background-color: #6b4e71;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  margin-top: 70px;
}
